*{
    margin:0px;
    padding:0px;
}
/* set make the page dark, but still let user read links */
body{
    background-color:#06161a;
    color:#d4d4f4;
}
a:link {
    color: #6464ff;
}
a:visited {
    color: #9e7cff;
}
a:hover {
    color: #8f8fff;
}
a:active {
    color: #3e3eff;
}
#cr-stage{
    position: absolute;
    left:50%;
    margin-left:-400px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
.info{
    text-align: center;
}
.clear{
    clear:both;
}
.skip{
    color:#990000;
    text-decoration: underline;
    cursor:pointer;
}
#interface,#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:3;
}
.bars{
    position: absolute;
    padding:5px;
    height:auto;
}
div.text{
    position: absolute;
    line-height: 24px;
    font-size: 12px;
    color:#ffffff;
    padding:5px;
}
div.text.center{
    width:100%;
    text-align: center;
}
.bars span.text{
    position: absolute;
    width: 100%;
    display:block;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    color:#000000;
}
#interface .ui-progressbar{
    background:url(../img/bars.png) top left no-repeat;
    width:178px;
    height:24px;
}
#interface .left{
    left:0px;
}
#interface .midleft{
    left:188px;
}
#interface .midright{
    right:188px;
}
#interface .secondright{
    right:94px;
}
#interface .right{
    right:0px;
}
#interface .red .ui-progressbar-value{
    display: block;
    height:100%;
    background:url(../img/bars.png) -0px -27px no-repeat;
}
#interface .yellow .ui-progressbar-value{
    display: block;
    height:100%;
    background:url(../img/bars.png) -0px -80px no-repeat;
}
#interface .green .ui-progressbar-value{
    display: block;
    height:100%;
    background:url(../img/bars.png) -0px -54px no-repeat;
}
#interface .blue .ui-progressbar-value{
    display: block;
    height:100%;
    background:url(../img/bars.png) -0px -107px no-repeat;
}
.panel{
    height: 35px;
    position: absolute;
    width:100%;
}
.bottom{
    bottom:0px;
}
.bottom2{
    bottom:35px;
}
.bottom3{
    bottom:70px;
}
.transparent{
    background: #ffffff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.alert{
    font-size: 30px;
    color:red;
    width:100%;
    line-height: 480px;
    display:none;
    text-align: center;
}
#loading .ui-progressbar{
    margin:5px 15px;
    height:30px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    border:2px ridge #AAAAAA;
    background: #333333;
}
#loading .bars{
    width:100%;
    padding:0px;
    margin:0px;
}
#loading .text{
    color:#ffffff;
    line-height: 30px;
}
#loading .ui-progressbar-value{
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    background: #990000;
    height: 30px;
    width:100%;
}
.button{
    cursor:pointer;
    display:none;
    width: 200px;
    left:50%;
    margin-left:-100px;
    position: absolute;
    height:30px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    border:2px ridge #AAAAAA;
    background: #990000;
    color:#ffffff;
    text-align: center;
    line-height: 30px;
    bottom:20px;
}
.settings.button{
    width: 40px;
    height: 10px;
    bottom: none;
    display: block;
    background: #9EAEB3;
    z-index:3;
    top: 5px;
    line-height: 100%;
}
.menuDiv{
    /*opacity:0.82;
    I guess not? ... http://stackoverflow.com/questions/2636871/is-opacity-is-inherited-in-a-div
    can't keep the text and things opaque*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /*background: #000;*/
    background-color:rgba(0,0,0,0.8);
    display: none;
}
.menu{
    background-color:white;
    border: 5px solid rgb(90, 158, 181);
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
}
#settingsDiv{
    z-index:7;
}
/*FIXME make this nicer after reskin things happen....*/
#settings{
    width:350px;
    margin:100px 50px 0 190px;
}
#settings h3,#mainMenu h3{
    text-align: center;
}
.menu label {
  display: inline-block;
}
#mainMenuDiv{
    z-index:5;
}
#levelSelectionDiv{
    z-index:6;
}
#mainMenu{
    width:350px;
    margin:300px 50px 0 190px;

}
#levelSelection{
    width:500px;
    margin:100px 50px 0 150px;
}
.menu p{
    margin: 10px;
}